* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #efbcd5;
  color: #403f4c;
}

.container {
  height:200px;
}

.quote-container {
  background-color: #f9dc5c;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 2em;
}

.btn-tweet {
background-color: #1da1f2;
}

.btn {
  border-radius: 0;
}

.btn-reload {
  margin-bottom: 10px;
  background-color: #e84855;
}

.btn-reload svg {
  margin-top: 4px;
}

.contact {
  background-color: #403f4c;
  margin-top: 10px;
  /*height: 50px;*/
}

.contact p {
    margin-bottom: 0;
    padding: 5px;
    color: white;
}

.contact p a {
  color: white;
}

.contact p a:hover {
  color: rgb(231, 231, 231);
}
