body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #efbcd5;
  color: #403f4c;
}

.quote-container {
  background-color: #f9dc5c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.btn-tweet {
  background-color: #1da1f2;
}

.btn-reload {
  margin-bottom: 10px;
  background-color: #e84855;
}

.btn-git {
  color: #403f4c;
  border: none;
  padding-top: 0;
  height: 32px;
  box-shadow: none!important;
}
.btn-git:hover {
  color: #2c2b34;
}

.contact {
  margin-top: 10px;
  background-color: #ffdfef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media (max-width: 576px) {
  .quote-container {
    margin-bottom: 10px;
  }

  .btn-reload, .btn-tweet {
    display: block;
  }
  .btn-container {
    padding-right:
  }
}

@media (min-width: 576px) {
  .btn-container {
    padding-right: 0;
  }
}
